a {
	color:#a1498f
}

.icon-top span, icon-top a {
	color:#a1498f;
}

.topmenu li a {
	color:#7e7480;
}
	
.topmenu .current-menu-item li a,
.topmenu .current-menu-ancestor li a,
.topmenu li .current-menu-ancestor li a {
	color:#7e7480;
}

.header {
	background:url(beauty_spa/header_image_bg.jpg);
}

.header .caption {
	color:#ffffff;
}

.text a {
	color:#a1498f
}

.text h2 a:hover, 
.text h1 a:hover {
	color:#a1498f
}

.quote-author {
	color:#a1498f;
}

.text-green {
	color:#a1498f
}

.news-item h2 a:hover {
	color:#a1498f
}

.pages a {
	color:#a1498f;
}

.table-price thead td {
	color:#a1498f;
}

.contact-form label {
	color:#a1498f
}

.reset-link a {
	color:#a1498f;
}

.social-box .row {
	color:#a1498f;
}

.social-box .row a {
	color:#a1498f
}

.contact-mail a {
	color:#a1498f
}

.widget_recent_entries .date {
	color:#a1498f;
}

.text h1, 
.text h2, 
.text .title-arrow {
	background:url(beauty_spa/arrow_1_green.png) 0 3px no-repeat;
}

.news-item h2 {
	background:url(beauty_spa/arrow_1_green.png) 0 3px no-repeat;
}

.contact-form h2 {
	background:url(beauty_spa/arrow_1_green.png) 0 3px no-repeat;
}

.contact-form .contact-submit, .contact-submit {
	background:url(beauty_spa/btn_send_message.png) no-repeat;
}

.reservationForm .btn-send {
	background:url(beauty_spa/btn_send.gif) 0 0 no-repeat;
}
 
.contact-form .contact-submit, .contact-submit {
	background:url(beauty_spa/btn_send_message.png) no-repeat;
}

.btn-submit, .newsletter_box .btn-submit {
	background:url(beauty_spa/btn_submit.gif) 0 0 no-repeat #a9c542;
}

input[type="reset"],input[type="submit"],input[type="button"], button{
	background:url(beauty_spa/btn_submit.gif) 0 0 no-repeat #abc742;
}

.header {
	background:url(beauty_spa/header_image_bg.jpg);
}

.link-more {
	background:url(beauty_spa/icon_plus.gif) 0 2px no-repeat;
}


.link-zoom {
	background:url(beauty_spa/icon_zoom.png) 0 0 no-repeat;
}

.header-line {
	background:url(beauty_spa/header_line.gif) 0 0 repeat-x;
}


