/*** RESPONSIVE STYLE ***/
.checkme{
    margin: 20px 0 20px 0px;
    font-weight: 500;
    font-size: 16px;
    padding-top: 4px;
}
div.checker{
    margin-top: -4px;
}
#disscount, #price{
    float: left;
    padding: 10px 0px;
    opacity: 1;
    color: rgb(235, 93, 64);
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 25px;
    font-family: MelbourneRegular, Arial, sans-serif;    
}
#price{
    color:rgba(0,0,0,0.8);
}
.logo a img{
    width: 60%;
}
.logo {
    top:7px !important;
}
.brinc{
    width: 110px;
    height: 110px;
    position: absolute;
    top:-406px;
    right: -43px;
}
.price_container{
    float:left;
}
@media (max-width: 1120px) {
    .brinc{
        display: none;
    }
}
@media (max-width: 1020px) {
    
    .logo a img{
        width: 100%;
    }
    .container_24 .suffix_1{
        padding-right: 0 !important;
    }
    .baner-img{
        background: none;
    }
    .header-title-image h1{
        text-align: center;
    }
    .room-item .description{
        float: none;
        width: 100%;
    }
    .room-item .services-included{
        float: left;
        overflow: hidden;
    }
    .footer{
        float:left;
        width: 100%;
        overflow: hidden;
    }
    body{
        min-width: 280px;
        /*overflow-x: hidden;*/
    }
    .contact-form{
        margin-bottom: 30px;
    }
    .head{
        width: 100%;
        float: left;
        background-size: 100% 100%;
    }
    .head_right{
        margin: 50px 20px 50px 0;
    }
    .container{
        width: 100%;
    }
    .header.homepage{
        float: left;
        min-height: 50px;
        height: 50px;
    }
    .topmenu{
        width: auto;
        float: left;
        height:auto;
    }
    .menu-header{
        float: left;
        height: auto;
        text-align:center;
        background-size: 100% 100%;
        background-position: 0px 1px;
    }
    .logo{
        float: left;
        position: relative;
        margin: 20px 20px;
        left: 0;
        top:0 !Important;
        width: auto;
    }
    .head .container{
        width: 100%;
        height: auto;
        float: left;
    }
    .menu-header{
        float: left;
        width: 100%;
    }
    .header-line{
        display: none;
    }
    .header-title-image{
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-top: -200px;
        float: left;
        left: 0;
        top: 0;
    }
    .header-title-image .image{
        width: 100%;
        background-image: none;
        height: auto;
        padding: 0;
    }
    .header-title-image .image img{
        width: 100%;
        height: auto;
    }
    .middle{
        float: left;
        width: 100%;
    }
    .header{
        height: 76px;
        min-height: 76px;
        float: left;
        width: 100%;
        border-bottom: 8px solid rgba(0,0,0,0.8);
    }
    .header.homepage .container{
        display: none;
    }
    .baners_top{
        left: 0;
        top: 0;
        position: relative;
        display: inline-block;
        margin-top: -180px;
    }
    .middle .container{
        text-align: center;
    }
    .topmenu li ul li{
        text-align: left;
    }
    .container_24{
        width: 100%;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
    }
    /*** GRID SYSTEM ***/
    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
        display: inline;
        float: left;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container_24 .grid_1 {width: 4.1666%;}
    .container_24 .grid_2 {width: 8.3333%;}
    .container_24 .grid_3 {width: 12.5%;}
    .container_24 .grid_4 {width: 16.6666%;}
    .container_24 .grid_5 {width: 20.8333%;}
    .container_24 .grid_6 {width: 25%;}
    .container_24 .grid_7 {width: 29.16666%;}
    .container_24 .grid_8 {width: 33.3333%;}
    .container_24 .grid_9 {width: 37.5%;}
    .container_24 .grid_10 {width: 41.6666%;}
    .container_24 .grid_11 {width: 45.83333%;}
    .container_24 .grid_12 {width: 50%;}
    .container_24 .grid_13 {width: 54.1666%;}
    .container_24 .grid_14 {width: 58.333%;}
    .container_24 .grid_15 {width: 62.5%;}
    .container_24 .grid_16 {width: 66.6666%;}
    .container_24 .grid_17 {width: 70.8333%;}
    .container_24 .grid_18 {width: 75%;}
    .container_24 .grid_19 {width: 79.16666%;}
    .container_24 .grid_20 {width: 83.3333%;}
    .container_24 .grid_21 {width: 87.5%;}
    .container_24 .grid_22 {width: 91.666%;}
    .container_24 .grid_23 {width: 95.8333%;}
    .container_24 .grid_24 {width: 100%;}
    /*** SUFIX STARS HERE***/
    .container_24 .suffix_1{padding-right:4.1666%;}
    /*** COL STARTS HERE ***/
    .col_1,
    .col_1_2,
    .col_1_3,
    .col_2_3,
    .col_1_4,
    .col_3_4,
    .col_1_5,
    .col_2_5,
    .col_3_5,
    .col_4_5,
    .col_1_6,
    .col_5_6,
    .col_3_8,
    .col_5_8,
    .col_1_12 {
        display:inline;
        float: left;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }
    .col {
        float:left;
        box-sizing: border-box;
        padding-right: 20px;
    }
    /* Col 1/2 */
    .container_24 .grid_17 .col_1_2 , 
    .container_24 .grid_17 .text .col_1_2 {
        width:50%;}

    .container_24 .col_1_2 , 
    .container_24 .text .col_1_2 {
        width:50%;}


    /* Col 1/3 */
    .container_24 .grid_17 .col_1_3, 
    .container_24 .grid_17 .text .col_1_3 {
        width:33.333%;}

    .container_24 .col_1_3, 
    .container_24 .text .col_1_3 {
        width:33.333%;}


    /* Col 1/4 */
    .container_24 .grid_17 .col_1_4, 
    .container_24 .grid_17 .text .col_1_4 {
        width:25%;}

    .container_24 .col_1_4, 
    .container_24 .text .col_1_4 {
        width:25%;}


    /* Col 1/5 */
    .container_24 .grid_17 .col_1_5, 
    .container_24 .grid_17 .text .col_1_5 {
        width:20%;}

    .container_24 .col_1_5, 
    .container_24 .text .col_1_5 {
        width:20%;}


    /* Col 1/6 */
    .container_24 .grid_17 .col_1_6, 
    .container_24 .grid_17 .text .col_1_6 {
        width:16.666%;}

    .container_24 .col_1_6, 
    .container_24 .text .col_1_6 {
        width:16.666%;}


    .container_24 .col_1_7, 
    .container_24 .text .col_1_7 {
        width:14.285%;}


    /* Col 1/12 */
    .container_24 .grid_17 .col_1_6, 
    .container_24 .grid_17 .text .col_1_6 {
        width:8.333%;}

    .container_24 .col_1_6, 
    .container_24 .text .col_1_6 {
        width:8.333%;}


    /* Col 2/3 */
    .container_24 .grid_17 .col_2_3, 
    .container_24 .grid_17 .text .col_2_3 {
        width:66.666%;}

    .container_24 .col_2_3, 
    .container_24 .text .col_2_3 {
        width:66.666%;}


    /* Col 2/5 */
    .container_24 .grid_17 .col_2_5, 
    .container_24 .grid_17 .text .col_2_5 {
        width:40%;}

    .container_24 .col_2_5, 
    .container_24 .text .col_2_5 {
        width:40%;}


    /* Col 3/4 */
    .container_24 .grid_17 .col_3_4, 
    .container_24 .grid_17 .text .col_3_4 {
        width:75%;}

    .container_24 .col_3_4, 
    .container_24 .text .col_3_4 {
        width:75%;}


    /* Col 3/5 */
    .container_24 .grid_17 .col_3_5, 
    .container_24 .grid_17 .text .col_3_5 {
        width:60%;}

    .container_24 .col_3_5, 
    .container_24 .text .col_3_5 {
        width:60%;}


    /* Col 3/8 */
    .container_24 .grid_17 .col_3_8, 
    .container_24 .grid_17 .text .col_3_8 {
        width:37.5%;}

    .container_24 .col_3_8, 
    .container_24 .text .col_3_8 {
        width:37.5%;}


    /* Col 4/5 */
    .container_24 .grid_17 .col_4_5, 
    .container_24 .grid_17 .text .col_4_5 {
        width:80%;}

    .container_24 .col_4_5, 
    .container_24 .text .col_4_5 {
        width:80%;}


    /* Col 5/6 */
    .container_24 .grid_17 .col_5_6, 
    .container_24 .grid_17 .text .col_5_6 {
        width:83.333%;}

    .container_24 .col_5_6, 
    .container_24 .text .col_5_6 {
        width:83.333%;}


    /* Col 5/8 */
    .container_24 .grid_17 .col_5_8, 
    .container_24 .grid_17 .text .col_5_8 {
        width:62.5%;}

    .container_24 .col_5_8, 
    .container_24 .text .col_5_8 {
        width:62.5%;}
    .newsletter_box{
        display: none;
    }
    p{
        text-align: left;
    }
    h1,h2{
        text-align: left;
    }
    .copyright p{
        text-align: right;
    }
    .text ul li {
        text-align: left;
    }
    .reservationForm .inputtext{
        width: 100% !Important;
        box-sizing: border-box;
    }
    a.ui-selectmenu.ui-widget{
        display: none;
    }
    select.select_styled{
        display: inline !important;
        float:left;
        width: 100% !important;
        border:1px solid #e0e0e0;
        border-radius: 2px;
        height: 34px !Important;
    }
    select{
        height: 34px !Important;
    }
    .reservationForm .field_submit{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .reservationForm textarea{
        width: 100% !important;
        box-sizing: border-box;
    }
    #disscount, #price{
        line-height: 28px;
    }
    .reset-link{
        display: none;
    }
}
@media (max-width: 760px) {
            .reservationForm .column_3{
        width: 100% !important;
        float:left;
    }
    body{
        overflow-x: hidden;
    }
    /*** MENU SETTINGS ***/
    ul.topmenu li{
        display: none;
    }
    .topmenu{
        width: 90%;
        height: 50px;
        margin-top: 1px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-image: url("../images/responsive_menu.png");
        background-repeat: no-repeat;
        background-position: left center;
    }
    .topmenu li{
        margin-left: 0;
        /*border-bottom: 1px solid rgba(255,255,255,0.4);*/
        text-align: left;
    }
    .topmenu li:first-child{
        margin-top: 49px;
    }
    .topmenu li ul li:first-child{
        margin-top: 0;
        -moz-box-shadow: inset 0 6px 7px -5px rgba(26,26,26,1);
        -webkit-box-shadow: inset 0 6px 7px -5px rgba(26,26,26,1);
        box-shadow: inset 0 6px 7px -5px rgba(26,26,26,1);
    }
    .topmenu li a{
        padding: 16px;
    }
    ul.topmenu:hover li{
        display: inline;
        float: left;
        width: 100%;
        background-color: rgba(27,27,27,1);
        position: relative;
        height: auto;
    }
    ul.topmenu li ul{
        position: relative;
        float: left;
        width: 100%;
        top:0;
        left: 0;
    }
    ul.topmenu li ul li{
        background-color: rgba(56,56,56,1) !important;
        float: left;
        width: 100%;
        padding: 0;
        background: none;
        padding-left: 40px;
        box-sizing: border-box;
    }
    ul.topmenu li ul li:last-child{
        border-bottom: 0px solid transparent;
        -moz-box-shadow: inset 0 -6px 7px -5px rgba(26,26,26,1);
        -webkit-box-shadow: inset 0 -6px 7px -5px rgba(26,26,26,1);
        box-shadow: inset 0 -6px 7px -5px rgba(26,26,26,1);
    }
    ul.topmenu li ul li a{
        background: none;
        padding: 16px 16px 16px 30px;
    }
    .middle .container{
        padding-top: 70px;
    }
    .baners_top{
        text-align: center;
        margin-top: -106px;
    }
    .baner-item{
        float: none;
        display: inline-block;
        width: 30%;
    }
    .baner-item img{
        width: 100%;
        height: auto;
    }
    .col{
        width: 100%;
    }
    [class*="grid"]{
        width: 100% !Important;
    }
    .col{
        width: 100% !important;
    }
    [class*="widget"]{
        display: none;
    }
    .header-title-image{
        margin-top: -140px;
    }
    .contact-form .field_textarea textarea{
        resize: none;
        width: 100%;
        box-sizing: border-box;
    }
    .row{
        width: 100%;
    }
    .contact-form .field_text .inputtext{
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
    .copyright p{
        text-align: center;
    }
    .fallow{
        display: none;
    }
     .footer img{
        float: none;
        margin: 0 auto !important;
        display: block;
    }
    .footer .address{
        float: left;
        width: 100%;
        padding-left: 0 !Important;
        margin-top: 20px;
    }
    .footer .address p{
        text-align: center !important;
        padding-left: 0 !Important;
    }
}
@media (max-width: 550px){
    .reservationForm .btn-send{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-top:20px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .logo a img{
        width: 200px;
    }
    .head_right{
        width: 100%;
        text-align: center;
        margin: 20px 0 20px 0;
        display: none;
    }
    .baner-item{
        display: none;
    }
    .header{
        display: none;
    }
    .header-title-image{
        display: none;
    }
    .header.homepage{
        display: none;
    }
    .middle .container{
        padding-top: 20px;
    }
} 
label{
    text-align: left;
    float: left;
}